{% extends 'base.html' %}
{% block body %}
<form method="POST">
  {{ form.hidden_tag() }}
  <div class="form-group">
    <label for="title">Title</label>
    {{ form.title(class="form-control") }}
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    {{ form.description(class="form-control") }}
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>
{% endblock %}
